@mixin button($color: green)
   height: 24px
   min-width: 24px
   width: 26px
   padding: 3px
   margin: 0 1px
   text-align: center
   position: relative
   display: inline-block
   user-select: none
   color: $black
   & i
      font-size: 18px
   &:active, &.active
      color: $red
      border: 1px solid $red
      border-radius: 3px
   &:hover
      background: #eee
      color: $red
      cursor: pointer

@mixin clear-list()
   list-style: none
   margin: 0
   padding: 0
