@import "variables"
@import "mixins"

.db
  &__header
    position: fixed
    left: 0
    right: 0
    top: 0
    height: $db-header-height
    display: flex
    align-items: center
    justify-content: center
    background: #fff
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15)
    z-index: 1000
  &__new
    margin-top: $db-header-height
    padding: 1.5rem
    background: $gradient
  &__create
    width: 160px
    height: 160px
    background: #fff
    border-radius: 4px
    border: 1px solid #dadce0
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.5rem
    text-decoration: none
    color: $black
    text-align: center
    &:hover
      cursor: pointer
      color: $red
      border-color: transparent
  &__view
    max-width: 1000px
    margin: 0 auto
  &__table
    padding: 1rem 0
  &__list-header
    display: flex
    justify-content: space-between
    color: $black
    font-weight: 500
    font-size: 16px
    margin-bottom: 10px
    padding: 12px
  &__list
    @include clear-list
  &__record
    margin-bottom: 10px
    border-bottom: 1px solid #ccc
    height: 42px
    display: flex
    justify-content: space-between
    align-items: center
    &:hover
      border-bottom: none
      border: 2px solid #e17a49
      border-radius: 5px
    a
      padding: 12px
      text-decoration: none
      cursor: pointer
      color: #202124
      font-size: 14px
      display: flex
      justify-content: space-between
      align-items: center
      flex: 1
    &-delete
      margin-left: 10px
      color: $red
      cursor: pointer
      user-select: none
