@import "variables"
@import "mixins"

.excel__header
   position: absolute
   top: 0
   right: 0
   left: 0
   height: $header-height
   padding: 8px
   display: flex
   justify-content: space-between
   align-items: center
   background: $gradient
   & .input
      margin: 0
      padding: 2px 7px
      min-width: 1px
      color: #000
      border: none
      background: transparent
      height: 20px
      font-size: 18px
      line-height: 22px
      outline: none
      &:hover
         border: none
      &:focus
         border: none
   .button
      @include button($red)
      &:hover
         border-radius: 100%
