@import "variables"
@import "mixins"

.excel__table
   position: absolute
   left: 0
   right: 0
   top: $header-height + $toolbar-height + $formula-height
   overflow-x: auto
   padding-bottom: 2px
   .row
      display: flex
      flex-direction: row
      min-height: 20px
      height: $row-height
   .row-info
      display: flex
      justify-content: center
      align-items: center
      min-width: $info-cell-width
      height: 100%
      border: 1px solid $border-color
      background: $background
      border-top: none
      position: relative
      user-select: none
   .row-data
      display: flex
   .column
      display: flex
      justify-content: center
      align-items: center
      background: $background
      min-width: 40px
      width: $cell-width
      border: 1px solid $border-color
      border-top: 0
      border-left: 0
      height: 100%
      position: relative
      user-select: none
   .cell
      min-width: 40px
      padding: 5px
      width: $cell-width
      height: 100%
      border: 1px solid #cdcece
      border-top: 0
      border-left: 0
      color: #111
      white-space: nowrap
      outline: none
   .selected
      border: 2px solid $blue
      z-index: 2
   .col-resize, .row-resize
      position: absolute
      background: $blue
      right: 0
      bottom: 0
      opacity: 0
      z-index: 999
      &:hover
         opacity: 1!important
   .col-resize
      top: 0
      width: 2px
      &:hover
         cursor: col-resize
   .row-resize
      left: 0
      height: 2px
      &:hover
         cursor: row-resize
